@import "tailwindcss";

@font-face {
	font-family: 'Inter var';
	src: url('/fonts/Inter-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden !important;
}

#app {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden !important;
}

.auto-hide-scroll {
	overflow-y: auto;
}

.auto-hide-scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.auto-hide-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.auto-hide-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, 0.4);
	border-radius: 3px;
}

.auto-hide-scroll::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128, 128, 128, 0.6);
}
